@import "base";
/* Buttons */
.g-btn,
.g-clearbutton{
    display:inline-block;
    vertical-align:middle;
    cursor: pointer;
    box-sizing: border-box;
    outline:0;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;

    &:active{
        transform:translateY(2px);
    }
}

.g-clearbutton{
    border:none;
    background:none;
    padding:0;
}

.g-btn{
    height:2*$project-line-height;
    line-height:2*$project-line-height;
    padding:0 30px;
    color:#fff;
    font-size:rem($project-font-size);
    background: $primary;
    border-radius:$border-radius;

    &:hover,
    &:focus,
    &:active{
        color:#fff;
        box-shadow:inset 2px 2px 30px darken($primary, 20%);
    }

    &:disabled{
        background:grey;
        box-shadow:none;
        transform:none;
    }
}



